<footer id="site-footer" class="dark">
  <div class="bg-gray-100 dark:bg-gray-900 py-24 pt-44 leading-8">
    <div class="container">
      <div class="grid grid-cols-12 gap-y-12 gap-x-7">
        <div class="col-span-full md:col-span-6 lg:col-span-6">

          {{> _yt1-widget-info }}

        </div>
        
        {{!-- <div class="col-span-full md:col-span-4 md:col-start-5">

          {{> _yt1-widget-links }}

        </div> --}}

        <div class="col-span-full md:col-span-6">

          {{> _yt1-widget-subs-count }}

        </div>
      </div>
      <div class="col-span-full mt-12">
        <div class="flex flex-col md:flex-row justify-center md:justify-between items-center text-sm leading-6 tracking-tightest gap-2 md:gap-0">
          <p class="mb-0 text-center md:text-left">© 2025 Todos los Derechos Reservados - JanCarlosDM</p>
          <p class="mb-0 text-center md:text-right">Desarrollado por <a href="https://melvicsosa.dev/" target="_blank" rel="noopener noreferrer" class="text-primary transition-colors hover:text-accent dark:text-white dark:hover:text-accent">Melvic Sosa</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
